<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thought Board</title>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/general.js') }}"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style>  
  </style>
</head>
<body>
    <div class = "container-fluid">
        <div class="row" id="header">
            <div class="col-2">

            </div>
            <div class="col-5">
                <form>
                    <input type="text" name="search">
                    <a href='#'><i class="fas fa-search"></i></a>
                </form>
            </div>
            <div class="col-5">
                <ul class='menu'>
                    <li>
                        <a href="/user/{{session['user_id']}}"><i class="fas fa-user-circle"></i><span> {{session['name']}}</span></a> 
                    </li>
                    <li>
                        <a href="/index"><i class="fas fa-home"></i></a>     
                    </li>
                    <li>
                        <a href="/notifications/{{session['user_id']}}"><i class="fas fa-bell"></i> {% if user_notifications[0]['notify'] > 0 %} <span style=" background-color:red;"class="text-light">{{user_notifications[0]['notify']}}</span> {% endif %}</a>
                    </li>
                    <li>
                        <a href="/destroy"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
        <div class="row" style="margin:100px">
            <div class="col-3"></div>
            <div class="col-6 notifications" >
            <h5 style="margin-bottom:20px; color:rgb(123, 132, 141) ">Notifications</h5>
            <table class="table table-hover">
                <tbody>
                    {% for nots in notifications %}
                    <tr class="text-info">
                        <td ><i class="fas fa-user-circle" style="font-size:25px; color:rgb(50, 164, 168);"></i> <span class="text-info">{{ nots['first_name']}} {{ nots['last_name']}}</span></td>
                        <td>Liked your post</td>
                        <td>
                                {% if nots['weeks']==0 %}
                                    {% if nots['days']== 0 %}
                                        {% if nots['hours']==0%}
                                            {% if nots['minutes']==0%}
                                            now
                                            {% else %}
                                            {{nots['minutes']}}m ago
                                            {% endif %}
                                        {% else %}
                                        {{nots['hours']}}h ago
                                        {% endif %}
                                    {% else %}
                                    {{nots['days']}}d ago
                                    {% endif %}
                                {% else %}
                                {{nots['weeks']}}w ago
                                {% endif %}
                        </td>
                        <td><a href="/notifications/thought/{{nots['thought_id']}}"><i class="fas fa-arrow-right" style="font-size:25px;"></i></a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
</body>
</html>