<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thought Board</title>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/general.js') }}"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <style>  
  </style>
</head>
<body>
    <div class = "container-fluid">
        <div class="row" id="header">
            <div class="col-2">

            </div>
            <div class="col-5">
                <form class="search_form">
                    <input type="text" name="search" id="search">
                    <a href='#'><i class="fas fa-search"></i></a>
                    <div id="result" class=""></div>
                </form>
            </div>
            <div class="col-5">
                <ul class='menu'>
                    <li>
                        <a href="/user/{{session['user_id']}}"><i class="fas fa-user-circle"></i><span> {{session['name']}}</span></a> 
                    </li>
                    <li>
                        <a href="/index"><i class="fas fa-home"></i></a>     
                    </li>
                    <li>
                        <a href="/notifications/{{session['user_id']}}"><i class="fas fa-bell"></i> {% if user_notifications[0]['notify'] > 0 %} <span style=" background-color:red;"class="text-light">{{user_notifications[0]['notify']}}</span> {% endif %}</a>
                    </li>
                    <li>
                        <a href="/destroy"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
        {% for thought in thoughts %}
        <div class="row th" style="margin-top:100px;">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col details">
                        <p><i class="fas fa-user-circle"></i></p>
                        <div>
                            <p>{{thought['first_name']}} {{thought['last_name']}}</p>
                            <p>{{thought['created_at']}}</p>
                        </div>
                        {% if session['user_id'] == thought['user_id'] %}
                        <a href="/delete/{{thought['thought_id']}}" class="text-danger" style="visibility: hidden;"><i class="fas fa-trash-alt" style="font-size:17px;"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row thought">
                    <div class="col-6">
                        {{ thought['thought'] }}
                    </div>
                </div>
                <div class="row like">
                    <div class="col text-left l">
                        <a href="/thought/{{thought['thought_id']}}"> <p style="color:rgb(113, 118, 121)">{{thought['nr_likes']}} </p> <i style="font-size:15px; color:rgb(95, 193, 231);" class="fas fa-thumbs-up"></i></a>
                    </div>
                    <div class="col text-center l">
                        {% if thought['thought_id'] not in likes %}
                        <p><a href="/like/{{thought['thought_id']}}/{{session['user_id']}}/{{thought['user_id']}}" style="color: rgb(95, 193, 231);"><i style="font-size:15px;"class="far fa-thumbs-up"></i> Like</a></p>
                        {% else %}
                        <p><a href="/unlike/{{thought['thought_id']}}/{{session['user_id']}}" id="unlike" style="color: rgb(95, 193, 231);"><i style="font-size:15px;" class="fas fa-thumbs-up"></i> Like</a></p>
                        {% endif %}
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>